<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{forum.title}}</title>
    {{> script}}
  </head>
  <body>
    <h1>Forum page</h1>

    {{> auth}}

    <h2>{{forum.title}}</h2>
    <p>{{forum.desc}}</p>
    <p>{{forum.created_at}} / by {{forum.user.name}}</p>
    <input type="hidden" id="owner-id" value="{{forum.user.user_id}}">
    <input type="hidden" id="forum-id" value="{{forum.id}}">

    <button type="button" class="hidden" id="edit-btn" onclick="showEditForm()">Edit</button>

    <hr>
    <div class="hidden" id="editForm">
      <label for="">Title</label><br>
      <input type="text" name="" value="{{forum.title}}" id="newTitle"><br />
      <label for="">Description</label><br>
      <textarea name="name" rows="8" cols="80" id="newDesc">{{forum.desc}}</textarea><br>
      <button type="button" name="button" id="update-btn" onclick="updateForum('{{forum.id}}')">Update</button>
    </div>

    <h2>List Comment</h2>
    {{#each replies}}
      <p>{{data.desc}}</p>
      <b>write by {{data.user.name}}</b>
      <button type="button" class="replies-button hidden" reply-owner-id="{{data.user.user_id}}" onclick="editReply('{{id}}','{{data.desc}}')">Edit</button>
    {{/each}}

    <hr>
    <div class="hidden" id="formEditReply">
      <h2>Edit Reply</h2>
      <textarea name="name" rows="8" cols="80" id="replyEditBox"></textarea><br>
      <button type="button" name="button" onclick="updateReply()">Update</button>
    </div>

    <hr>
    <h2>Form Reply</h2>
    <textarea name="name" rows="8" cols="80" id="replyBox"></textarea><br>
    <button type="button" name="button" onclick="addReply('{{forum.id}}')">reply</button>
  </body>
</html>
