<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{forum.title}}</title>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBrORjOwNcjjrbJuDmNXvDpNzrCHiD4EDs",
        authDomain: "forum-4d67d.firebaseapp.com",
        databaseURL: "https://forum-4d67d.firebaseio.com",
        projectId: "forum-4d67d",
        storageBucket: "forum-4d67d.appspot.com",
        messagingSenderId: "1029205309084"
      };
      firebase.initializeApp(config);
    </script>
    <script src="/assets/js/forum.js"></script>
    <script src="/assets/js/forum-single.js"></script>
  </head>
  <body>
    <h1>Forum page</h1>
    <button type="button" name="button" onclick="login('gmail')">Login Gmail</button>
    <button type="button" name="button" onclick="login('facebook')">Login Facebook</button>
    <button type="button" name="button" onclick="login('twitter')">Login Twitter</button>
    <button type="button" name="button" onclick="logout()">Logout</button>
    <hr>
    <h2>{{forum.title}}</h2>
    <p>{{forum.desc}}</p>
    <p>{{forum.created_at}} / by {{forum.user.name}}</p>
    <input type="hidden" id="owner-id" value="{{forum.user.user_id}}">

    <button type="button" class="hidden" id="edit-btn" onclick="showEditForm()">Edit</button>

    <hr>
    <div class="hidden" id="editForm">
      <label for="">Title</label><br>
      <input type="text" name="" value="{{forum.title}}" id="newTitle"><br />
      <label for="">Description</label><br>
      <textarea name="name" rows="8" cols="80" id="newDesc">{{forum.desc}}</textarea><br>
      <button type="button" name="button" id="update-btn" onclick="updateForum('{{forum.id}}')">Update</button>
    </div>

    <h2>List Comment</h2>
    {{#each replies}}
      <p>{{desc}}</p>
      <b>write by {{user.name}}</b>
    {{/each}}

    <hr>
    <h2>Form Reply</h2>
    <textarea name="name" rows="8" cols="80" id="replyBox"></textarea><br>
    <button type="button" name="button" onclick="addReply('{{forum.id}}')">reply</button>
  </body>
  <style media="screen">
    .hidden{
      display: none;
    }
  </style>
</html>
